.crew {
  background-image: url("../../assets/crew/background-crew-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.crew-wrapper {
  display: grid;
  grid-template-rows: 171px;
  margin-top: 198px;
  margin-left: 165px;
  min-height: 702px;
  height: 100%;
  overflow: hidden;
}

.crew-heading {
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  text-transform: uppercase;
  margin-bottom: 154px;
  margin-top: 14px;
}

.crew-heading span {
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  color: rgba(255, 255, 255, 0.25);
  padding-right: 24px;
}

.crewinfo-wrapper {
  grid-row-start: 2;
  grid-column-start: 1;
}

.crew-role {
  font-family: Bellefair;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

.crew-name {
  font-family: Bellefair;
  font-size: 56px;
  line-height: 64px;
  text-transform: uppercase;
  margin: 15px 0 27px 0;
}

.crew-bio {
  max-width: 444px;
  margin-right: 128px;
  height: 160px;
  font-family: Barlow;
  font-size: 18px;
  line-height: 178%;
  color: #d0d6f9;
}

.crew-nav {
  display: flex;
  justify-content: space-between;
  width: 132px;
  height: 15px;
  margin: 88px 0 0 2px;
}

.crew-nav div {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.17);
  transition: all 0.5s ease-in-out;
}

.crew-nav .active {
  background-color: rgb(255, 255, 255);
}

.crewimage-wrapper {
  margin-left: 20px;
  margin-right: 137px;
  place-self: end;
  grid-row-start: 1;
  grid-row-end: 3;
}

@media (max-width: 1100px) {
  .crew {
    background-image: url("../../assets/crew/background-crew-tablet.jpg");
    min-height: 1024px;
  }

  .crew-wrapper {
    grid-template-rows: 84px 272px;
    margin: 136px 38.5px 0;
  }

  .crew-heading {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.375px;
  }

  .crew-heading span {
    padding-right: 16px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.375px;
  }

  .crewinfo-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-self: center;
    align-self: center;
    grid-row-start: 2;
  }

  .crew-description {
    height: 182px;
  }

  .crew-role {
    font-size: 24px;
    line-height: 28px;
  }

  .crew-name {
    font-size: 40px;
    line-height: 46px;
    margin: 8px 0 16px;
  }

  .crew-bio {
    max-width: 592px;
    margin: 0;
    font-size: 16px;
    line-height: 175%;
  }

  .crew-nav {
    place-self: center;
    width: 80px;
    height: 10px;
    margin: 40px 0;
  }

  .crew-nav div {
    width: 10px;
    height: 10px;
  }

  .crewimage-wrapper {
    margin: 0;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 4;
    place-self: center;
    align-self: end;
  }

  .crewimage-wrapper img {
    max-width: 458px;
  }
}

@media (max-width: 560px) {
  .crew {
    background-image: url("../../assets/crew/background-crew-mobile.jpg");
    min-height: 667px;
  }

  .crew-wrapper {
    grid-template-rows: 51px 223px;
    margin: 88px 24px 104px;
  }

  .crew-heading,
  .crew-heading span {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-align: center;
  }

  .crewinfo-wrapper {
    grid-row-start: 3;
    flex-direction: column-reverse;
    align-self: start;
  }

  .crew-role {
    font-size: 16px;
    line-height: 18px;
  }

  .crew-name {
    font-size: 24px;
    line-height: 28px;
    margin: 8px 0 16px;
  }

  .crew-bio {
    font-size: 15px;
    line-height: 167%;
  }

  .crew-nav {
    margin: 32px 0;
  }

  .crewimage-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }

  .crewimage-wrapper img {
    max-height: 223px;
  }
}
